exclude .readthedocs.yaml
exclude .travis.yml
global-exclude *.log
recursive-exclude .github *
include .pre-commit-config.yaml
include CHANGELOG.rst
recursive-include docs *.py *.rst Makefile snippets/*
recursive-include tests *.py
prune **/venv
